[package]
name = "nft"
version = "0.1.0"
authors = ["Coreum"]
edition = "2021"

exclude = [
    "nft.wasm",
    "checksums.txt",
]

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
backtraces = ["cosmwasm-std/backtraces"]
library = []

[dependencies]
cosmwasm-std = "1.5.4"
cosmwasm-storage = "1.5.2"
cw-storage-plus = "1.2.0"
cw2 = "1.1.2"
thiserror = "1.0.59"
schemars = "0.8.16"
# TODO(keyleu): Update dependency once final version of coreum-wasm-sdk crate is pushed
coreum-wasm-sdk = { git = "https://github.com/CoreumFoundation/coreum-wasm-sdk.git", branch = "keyne/upgrade-wasm-sdk" }
cosmwasm-schema = "1.5.4"
cw-ownable = "0.5.1"
