[package]
name = "nft"
version = "0.1.0"
authors = ["Coreum"]
edition = "2021"

exclude = [
    "nft.wasm",
    "checksums.txt",
]

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
backtraces = ["cosmwasm-std/backtraces"]
library = []

[dependencies]
cosmwasm-std = "1.4.1"
cosmwasm-storage = "1.4.1"
cw-storage-plus = "1.1.0"
cw2 = "1.1.1"
thiserror = { version = "1.0.50" }
# TODO(keyleu): Change to coreum-wasm-sdk = "0.2.1" when it's published
coreum-wasm-sdk = { git = "https://github.com/CoreumFoundation/coreum-wasm-sdk", branch = "keyne/upgrade-coreum-wasm-sdk" }
cosmwasm-schema = "1.4.1"
cw-ownable = "0.5.1"
