name: ci
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 1 * * 1' # At 01:00 on Monday
  workflow_dispatch:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        ci_step: [
          "lint",
          "test",
          "integration tests coreum-modules",
          "integration tests coreum-ibc",
          "integration tests coreum-upgrade-v4.0.0",
          "integration tests faucet",
        ]
        include:
          - ci_step: "lint"
            command: "coreum-builder lint"
            go-cache: true
            wasm-cache: true
            linter-cache: true
            docker-cache: false
            codecov: false
          - ci_step: "test"
            command: "coreum-builder test"
            go-cache: true
            wasm-cache: false
            linter-cache: false
            docker-cache: false
            codecov: true
            codecov-name: coreum
          - ci_step: "integration tests coreum-modules"
            build: |
              crust build/me
              crust build images
              coreum-builder build/integration-tests/modules images
            command: |
              crust znet test --test-groups=coreum-modules --timeout-commit 0.5s
              crust znet stop
              crust znet coverage-convert
            go-cache: true
            wasm-cache: true
            linter-cache: false
            docker-cache: true
            codecov: true
            codecov-name: coreum-integration-tests-modules
          - ci_step: "integration tests coreum-ibc"
            build: |
              crust build/me
              crust build images
              coreum-builder build/integration-tests/ibc images
            command: |
              crust znet test --test-groups=coreum-ibc --timeout-commit 1s
            go-cache: true
            wasm-cache: true 
            linter-cache: false
            docker-cache: true
            codecov: false
          - ci_step: "integration tests coreum-upgrade-v4.0.0"
            build: |
              crust build/me
              crust build images
              coreum-builder build/integration-tests/upgrade build/integration-tests/modules build/integration-tests/ibc images 
            command: |
              crust znet test --cored-version=v3.0.2 --test-groups=coreum-upgrade,coreum-modules,coreum-ibc --timeout-commit 1s
            go-cache: true
            wasm-cache: true
            linter-cache: false
            docker-cache: true
            codecov: false
          - ci_step: "integration tests faucet"
            build: |
              faucet-builder build/integration-tests images
              coreum-builder images
            command: |
              crust znet test --test-groups=faucet --timeout-commit 0.5s
            go-cache: true
            wasm-cache: false
            linter-cache: false
            docker-cache: true
            codecov: false

    runs-on: ubuntu-22.04
    steps:
      - name: Go version used to build builder
        run: go version
      - name: Checkout coreum
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          path: coreum
      - name: Checkout faucet
        uses: actions/checkout@v4
        with:
          repository: CoreumFoundation/faucet
          path: faucet
      - name: Checkout crust
        uses: actions/checkout@v4
        with:
          repository: CoreumFoundation/crust
          path: crust
      - name: Set up build system
        run: |
          echo "$(pwd)/coreum/bin" >> $GITHUB_PATH
          echo "$(pwd)/faucet/bin" >> $GITHUB_PATH
          echo "$(pwd)/crust/bin" >> $GITHUB_PATH
          coreum/bin/coreum-builder build/me
      - name: Retrieve go version
        id: goversion
        run: echo "GO_VERSION=$(coreum/bin/go version)" >> $GITHUB_OUTPUT
      - name: Print go version
        run: echo ${{ steps.goversion.outputs.GO_VERSION }}
      - name: Setup go cache
        uses: actions/cache@v4
        if: ${{ matrix.go-cache }}
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-${{ steps.goversion.outputs.GO_VERSION }}
      - name: Setup WASM cache
        uses: actions/cache@v4
        if: ${{ matrix.wasm-cache }}
        with:
          # we need to exclude code-hashes.json from the rest, since the invalidation condition for it is not
          # same as WASM cache, but it is same as smart contract artifacts.
          path: | 
            ~/.cache/crust/wasm
            !/.cache/crust/wasm/code-hashes.json
          key: ${{ runner.os }}-wasm-cache-${{ hashFiles('~/.cache/crust/wasm/**/*.rs') }}
      - name: Setup linter cache
        uses: actions/cache@v4
        if: ${{ matrix.linter-cache }}
        with:
          path: ~/.cache/golangci-lint
          key: ${{ runner.os }}-linter-cache-2-${{ steps.goversion.outputs.GO_VERSION }}
      - name: Get Date
        id: get-year-week
        run: |
          echo "date=$(/bin/date -u "+%Y-%U")" >> $GITHUB_OUTPUT
        shell: bash
      - name: Set docker cache
        uses: satackey/action-docker-layer-caching@v0.0.11
        if: ${{ matrix.docker-cache }}
        continue-on-error: true
        with:
          key: ${{ runner.os }}-docker-v3-${{ steps.get-year-week.outputs.date }} # year-week key
      - name: Setup smart contract build cache
        uses: actions/cache@v4
        with:
          # we need to cache code-hashes.json under the same key as the artifacts, since the invalidation condition
          # for both of them are the same.
          path: |
            ${{ github.workspace }}/coreum/integration-tests/contracts/**/artifacts/* 
            ~/.cache/crust/wasm/code-hashes.json
          key: ${{ runner.os }}-cache-smart-contracts-${{ hashFiles('./coreum/**/*.rs') }}
        if: ${{ matrix.wasm-cache }}
      - name: Build step
        run: ${{ matrix.build }}
        if: ${{ matrix.build != '' }}
      - name: Run ${{ matrix.ci_step }}
        run: ${{ matrix.command }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ github.workspace }}/coreum/coverage/${{ matrix.codecov-name }}
          flags: ${{ matrix.codecov-name }}
          fail_ci_if_error: true
          verbose: true
        if: ${{ matrix.codecov }}
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
